body
{
	background-image: url(office.png); /* Путь к фоновому рисунку */
    background-position: left top; /* Положение фона */
    background-repeat: round; /* Повторяем фон по горизонтали */
    margin: 0;
}
.form{
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	background-image: url(noisy_grid.png); /* Путь к фоновому рисунку */
    background-position: left top; /* Положение фона */
    background-repeat: round; /* Повторяем фон по горизонтали */
	margin-left: 35vw;
	background-color: #999999;
	width: 370px;
}
.star
{
	color: red;
	margin-left: 1px;
}
.button
{
	max-width: 358px;
}
.lich
{
	display: block;
	float: left;
	
}
.lich > p
{
	margin-bottom: -20px;
}
.numb
{
	margin-left: 100px;
}
.numb > input
{
	margin-bottom: 4px;
	margin-left: -30px;
}
fieldset
{
	max-width: 330px;
}
.form fieldset input
{
	margin-left: 20%;
	display: inline-block;
	margin-top: 1vh;
}
.form fieldset select
{
	margin-left: 20%;
	display: inline-block;
	margin-top: 1vh;
}

.form fieldset
{
	margin-bottom: 1vh;
}
form
{
	margin-left: 1px;
}
#tovar > option:nth-child(1):focus
