body
{
	background-image: url(woven.png); /* Путь к фоновому рисунку */
    background-position: left top; /* Положение фона */
    background-repeat: round; /* Повторяем фон по горизонтали */
    font-family: 'Merriweather', serif;

}
#suits
{

	font-size:24px;
	display: inline-box;
	color: white;
	font-family: 'Fascinate Inline', cursive;
	text-transform: uppercase;
}
header
{
	background: purple;
	height: 100px;
	margin-bottom: 100px;
}
.main-nav a
{

	display: block;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-right: 10px;
	text-decoration: none;
	color:white;
}
.conteiner 
{
	
	display: flex;
}
.main-nav ul
{
	list-style: none;
	display: flex;
	margin-left: 20%;
	font-size: 16px;
}
#wrapper
{
	text-align: center;
	color: white;
}
.row {
  display: flow-root; /* ДЛЯ НОРМАЛЬНОГО ПОЗИЦИОНИРОВАНИЯ ДИВОВ	*/
}
#header
{
	background: black;
	height: 200px;
	margin-bottom: 5px;
}
#content
{
	background: blue;
	min-height: 600px;
	width: 70%;
	float: left; 
}
#sidebar
{
	background: green;
	width: 30%;
	float: left; 
	min-height: 600px;
}
#footer
{
	margin-top: 5px;
	background: orange;
	height: 200px;
}
