video
{
	max-width: 600px;
	max-height: 450px;
	margin: auto;
}
body
{
	background-color: #00ffcc;
}
h1,h2
{
	text-align: center;
}
img
{
	width: 600px;
	height: 450px;
	float: right;
}
.otbivka
{
	height: 1px;
	min-width: 100%;
	background-color: black;
}
.text
{
	float: left;
}
.menu > ul
{
	background-color: white;
	padding: 0;
	margin-right: 666px;
	font-size: 20px;
	margin-top: 400px;
	list-style: none;
	display: flex;
	border: 1px double black;

}
.menu ul li a
{
	margin-left: 2px;
	display: block;
	text-decoration: none;
	margin-right: 10px;
	color: red;
}
.menu ul li:hover
{
	background-color: blue;
}