body
{
	background: linear-gradient(to right, #333333, #5A5454);
}
h1
{
	text-align: center;
	color: red;
}
img
{
	height: 200px;
	width: 300px;
	border: 3px;
}
table
{
	margin: auto;
}
.menu > ul
{
	margin-top: 0px;
	list-style: none;
	display: flex;
	font-size: 20px;
	margin-left: 35%;
}
.menu ul li a
{
	display: block;
	text-decoration: none;
	margin-right: 10px;
	color: red;
}