video
{
	max-width: 300px;
	max-height: 400px;
	margin: auto;
}
body{
	background-color: #ccccff;
}
h1
{
	text-align: center;
	color: #000;
}
h2
{
	text-align: center;
	color: blue;
}
img
{
	float: right;
	max-width: 70%;
}
.otbivka
{
	height: 1px;
	min-width: 100%;
	background-color: black;
}
.stih
{
	float: left;
}
.menu > ul
{
	background-color: white;
	padding: 0;
	margin-right: 666px;
	font-size: 20px;
	margin-top: 400px;
	list-style: none;
	display: flex;
	border: 1px double black;

}
.menu ul li a
{
	margin-left: 2px;
	display: block;
	text-decoration: none;
	margin-right: 10px;
	color: red;
}
video:hover audio
{
	valume: 0;
}
.menu ul li:hover
{
	background-color: blue;
}
