body
{
	background-position: top left 10%;
	background-image: url(RD.png);
	background-color: #78F343;
	background-repeat: repeat-y;
}
.text
{
	margin-left: 60%;
	width: 500px;
	padding-bottom: 30px;
background-color: #1360FC;
border-top:15px ridge #c5ce2e;
border-right:15px inset #ce2e9f;
border-bottom:13px double #c5ce2e;
border-left:15px dashed #ce3e2e;
text-align: center;

}

.text2
{
margin-left: 25%;
margin-top: 10%;

	width: 450px;
background-color: #61054F;
border-top:5px dashed #17cff5;
border-right:15px double #17cff5;
border-bottom:5px dashed #17cff5;
border-left:15px double #17cff5;
color: #fe658b;
font-size: 20pt;
text-decoration:underline;
text-align: justify;
padding: 40px;

}
.s1
{
text-decoration: line-through;
font-size: 25pt;
color:#00BFFF;
font-family: serif;
font-weight: bold;
}
.s2
{
	color:white;
	font-size: 20pt;
	font-style: italic;
}
.s3
{
	font-size: 20pt;
color:white;
font-family: serif;
font-weight: normal;
}
.s4
{
	text-decoration: underline;
font-size: 20pt;
color:#00BFFF;
font-family: serif;

}
#fr
{
color:#c5ce2e;
font-size: 25pt;
text-transform: uppercase;
}